@import 'styles/variables';

.event {
  padding: 1rem;
  border: 1px solid black;
  border-radius: .5rem;
  &__btn {
    background-color: #31e7db;
    padding: .2rem .5rem;
    color: inherit;
    margin: .5rem 0 0 0;
    display: inline-block;
    border-radius: .2rem;
  }
}