// Header
$header-bg-clr: #F5F7FA;
$header-text-clr: black;
$burger-clr: black;
$offcanvas-clr: #ECBC76;
$hover-text-clr: orange;
$event-btn-clr: orange;
$event-text-btn-clr: black;
$event-title-clr: black;
$event-card-btn-bg-clr: #80D0C7;
$place-btn-bg-clr: $event-btn-clr;

$bp-1: 480px;
$bp-2: 768px;
$bp-3: 1024px;
$bp-4: 1200px;

$box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;